@tailwind base;
@tailwind components;
@tailwind utilities;


.heroBackground{
    background-image: url("https://images.unsplash.com/photo-1617374823832-69d33ac5b51e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroText{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}